@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 18 49% 100%;
    --foreground: 18 71% 0%;
    --muted: 18 29% 90%;
    --muted-foreground: 18 4% 29%;
    --popover: 18 49% 100%;
    --popover-foreground: 18 71% 0%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 0%;
    --border: 18 10% 90%;
    --input: 18 10% 90%;
    --primary: 18 75% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 18 13% 90%;
    --secondary-foreground: 18 13% 30%;
    --accent: 18 13% 90%;
    --accent-foreground: 18 13% 30%;
    --destructive: 5 82% 25%;
    --destructive-foreground: 5 82% 85%;
    --ring: 18 75% 48%;
    --radius: 1rem;
  }

  .dark {
    --background: 18 50% 1%;
    --foreground: 18 22% 100%;
    --muted: 18 29% 10%;
    --muted-foreground: 18 4% 71%;
    --popover: 18 50% 1%;
    --popover-foreground: 18 22% 100%;
    --card: 18 50% 2%;
    --card-foreground: 0 0% 100%;
    --border: 18 10% 14%;
    --input: 18 10% 14%;
    --primary: 18 75% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 18 4% 11%;
    --secondary-foreground: 18 4% 71%;
    --accent: 18 4% 11%;
    --accent-foreground: 18 4% 71%;
    --destructive: 5 82% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 18 75% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}